.gateway-house-bg {
	background-image: url(../img/stream-covers/gateway-house-bg.jpg);
}

.vijay-patel-bg {
	background-image: url(../img/stream-covers/vijay-patel-bg.jpg);
}

.queens-bg {
	background-image: url(../img/stream-covers/queens-bg.jpg);
}

.art-factory-bg {
	background-image: url(../img/stream-covers/art-factory-bg.jpg);
}

.clephan-bg {
	background-image: url(../img/stream-covers/clephan-bg.jpg);
}

.dmu-logo {
	background-image: url(../img/logo/dmu-logo.png);
	background-size: 95%;
}